.progress-hw {
  height: 5px;
  width: 100%;
}
.progress-bar {
  width: 78%;
}
.kt-widget12__chart {
  height: 250px;
}
.kt_chart_order_statistics {
  display: block;
  width: 549px;
  height: 250px;
}
