/* login-custom starts */
.kt-login.kt-login--v6 .kt-login__aside .kt-login__wrapper .kt-login__container .kt-login__logo a >img{
  width: 100%;
}
/* login-custom ends */


/* dashboard-custom starts */
.kt-aside__brand .kt-aside__brand-logo{
	width: 80px;
}
.kt-aside__brand .kt-aside__brand-logo a >img{
	width: 100%;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-text{
	color: #102a7f;
}
.kt-aside__brand{
	background-color: #ffffff;
}
.kt-aside{
	background-color: #102a80;
}
.kt-aside-menu{
	    background-color: #102a7f;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link{
	/*background-color: #f1f2f7;*/
	color: #fff;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-text{
	color: #ffffff;
}
/* dashboard-custom ends */

/*btn styling*/
.btn-logifi{
	background: #102a7f !important;
	color: #fff !important;
	border-color: #102a7f !important;
}
/*btn styling*/

.kt-section.mg-auto{margin: 0 auto;}

.kt-aside-menu .kt-menu__nav .kt-menu__inner, .kt-aside-menu .kt-menu__nav #projects.kt-menu__submenu.block{
	display: none;
	overflow: hidden;
}

span.rating{
	font-size: 50px;
	color: #f67a43;
}
.worklog-widget table tr td.first{
	/*padding: 12px;*/
	min-width: 100px;
}
.worklog-widget table tr td.second{
	/*padding: 12px;*/
	min-width: 100px;
}
.kt-widget3 .kt-widget3__item .kt-widget3__header .kt-widget3__user-img .kt-widget3__img.project-manager{
	width: 5rem;
}
table.worklogs tbody.kt-datatable__body{
	padding: 10px 0 !important;
}
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__head .kt-datatable__row > .kt-datatable__cell.kt-datatable__cell--center > span, .kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row > .kt-datatable__cell.kt-datatable__cell--center > span, .kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__foot .kt-datatable__row > .kt-datatable__cell.kt-datatable__cell--center > span{
	text-align: left;
}
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row > .kt-datatable__cell.kt-datatable__cell--center
{
	padding: 18px 20px;
}
 .kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row > .kt-datatable__cell{
 	font-size: 1.1rem;
}
.mtb-10{
	margin: 10px 0;
}
select.project-select{
	width: 200px;
	    margin-left: 15px;
}
.ht-100vh{height: 100vh;}
.kt-error-v5 .kt-error_container .kt-error_title.thank-you > h1 {
    font-size: 14rem;
    margin-left: 0rem;
    margin-top: 0rem;
    font-weight: 700;
    color: #314DA7;
    -webkit-text-stroke-color: white;
}
.kt-error-v5 .kt-error_container .kt-error_title.thank-you > button {
    min-width: 120px;
}
.kt-error-v5 .kt-error_container .kt-error_title.thank-you > h4 {
    margin-top: 20px; 
}

/*width*/
.wide-100per{width: 100%;}
/*width*/

/*background img*/
.bg-thankyou{
	background-image: url(../../assets/img/bg1.jpg);
}
.bg-error{
	background-image: url(../../assets/img/bg5.jpg);
}
.bg-avatar{
	background-image: url(../../assets/img/100_1.jpg);
}
.bg-logo{
	background-image: url(../../assets/img/6.png);
}

/*background img*/

/*work logs*/
table.worklogs{
	display: block; min-height: 500px;
}
table.worklogs th >span, table.worklogs td >span{
	width: 110px;
}
/*work logs*/

/*pagination*/
select.kt-font-brand{ width: 60px; }
/*pagination*/

/*notifications*/
#topbar_notifications_logs div.kt-grid--ver{
	height: 200px;
}
/*notifications*/

/*progress*/
.progress{
	height: 5px;width: 100%;
}
.progress .progress-bar.wide-78{
	width: 78%;
}
.progress .progress-bar.wide-20{
	width: 20%;
}
/*progress*/

/*rating*/
span.self-rating i{
	font-size: 18px;
	color: #0abb87;
}
span.managers-rating i{
	font-size: 18px;
	color: #fd397a;
}
span.stars{
	font-size: 18px;
	color: #ffb822;
}
.kt-widget25__items .kt-widget25__item:first-child{
	margin-right: 10px;
}
/*rating*/

/*form*/
input.edit{
	display: none;
}
input.edit ~ span{
	display: block;
	width: 100%;
    height: calc(1.5em + 1.3rem + 2px);
    padding: 0.65rem 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e5ec;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group-prepend span{
    display: block;
    width: 100%;
    height: calc(1.5em + 1.3rem + 2px);
    padding: 0.65rem 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e5ec;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input-group > .form-control.edit, .input-group > .form-control-plaintext, .input-group > .custom-select, .input-group.edit > .custom-file {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
/*form*/

.kt-notification .kt-notification__item:after{
	content: "";
}